@import '../../style/vars';

.header {
    height: 770px;
    background: $headerColor;

    .header-container {
        width: $headerContainer;
        height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 30px 200px 200px 1fr;
        grid-template-rows: 75px 25px 200px 50px 100px 25px 200px 1fr;
    }
}