@import '../../style/vars';

.header {
    height: 700px;
    background: $headerColor;

    .header-container {
        max-width: $headerContainer;
        height: 100%;
        margin: auto;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 57% 3% 18% 3% 3% 16%;
        grid-template-rows: 12% 14% 12% 2% 32% 28%;

        .name {
            grid-area: 2/1/4/2;
            font-family: 'Bruno Ace SC', cursive;
            font-size: 18px;
            color: #ffffff;
        }

        .hero {
            grid-area: 4 / 1 / 8 / 2;
            font-size: 72px;
            color: #ffffff;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .graph {
            grid-area: 3/2/7/6;
        }

        .progressbar {
            grid-area: 6/3/7/5;
        }

        .rounds {
            grid-area: 5/4/6/7;
        }
    }
}

.banner {
    position: absolute;
    width: 100%;
    height: 55px;
    background: yellow;
    color: blue;


    .banner-container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .fist {
            height: 55px;
            margin: 0;
        }

        .call {
            color: blue;
            margin: 0 20px;
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 1200px) {
    
    .header {
        height: 58vw;

        .header-container {

            .hero {
                font-size: 6vw;
            }
        }
    }

    .banner {
        height: 5vw;

        .banner-container {

            .fist {
                height: 5vw;
            }
        }
    }
}



