@import './vars';

.container {
    max-width: $contentContainer;
    margin: auto;
}

.projects {
    width: 100%;
    height: fit-content;
    background: #effbff;
}

/* .projects-storefront {
    max-width: $contentContainer;
    margin: auto;
    height: fit-content;
} */

.projects-storefront {
    max-width: $contentContainer;
    margin: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    /* grid-template-rows: repeat(2, minmax(220px, 20%)); */
    gap: 2%;

    .project-item {
        position: relative;
        border: 1px solid #6fbdff;

        img {
            position: absolute;
            top: 0;
        }
    }
    
    .project-item:nth-child(3n+1) {
        top: 30px;
    }
    
    .project-item:nth-child(3n+2) {
        top: 60px;
    }
    
    .project-item:nth-child(3n+3) {
        top: 90px;
    }

    .normal {
        position: relative;
        border: 1px solid #6fbdff;
        top: 0;
        transition: top ease 0.5s;

        img {
            position: absolute;
            top: 0;
        }
    }
}