@import './vars';

.container {
    max-width: $contentContainer;
    margin: auto;
}

.projects {
    width: 100%;
    height: 500px;
    background: #effbff;
}

.projects-storefront {
    max-width: $contentContainer;
    margin: auto;
    height: fit-content;
}