@import '../../style/vars';

.footer {
    background: #139387;
    min-height: 50px;
    color: #ffffff;

    .container {
        max-width: $contentContainer;
        margin: auto;
        padding: 0 20px;
    }
}